<div class="tool_bar">
	<div class="main">
		<div class="left welcome">
			{{WEBNAME}}
		</div>
		<div class="right top_bar_nav">
			<ul>
				<!--<li class="top_bar_nav free_play">
					<a onclick="javascript:try_play();">免费试玩</a>
				</li>
				<li>|</li>
				<li class="top_bar_nav ">
					<a href="/Base/agentApply.html">注册会员</a>
				</li>
				<li>|</li>-->
				<li class="top_bar_nav ">
					<a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0)">加入收藏</a>
				</li>
				<li>|</li>
				<li class="top_bar_nav ">
					<a href="/help/2/0/0">帮助中心</a>
				</li>
				<li>|</li>
				<li class="top_bar_nav ">
					<a href="/rule_detail/ssc/0">玩法</a>
				</li>
				<li>|</li>
				<li class="top_bar_nav ">
					<a href="/news/1/0/1">资讯</a>
				</li>
			</ul>
		</div>
	</div>
</div>