<!-- 1-5球模板 -->
<div class="bet-grid">
    <div class="row title title-bg-shen">
        <div class="cell col20" ng-repeat="x in p1 track by $index">
            <div class="cell-title col100">{{x.name}}</div>
        </div>
    </div>
    <div class="row" ng-repeat="(i, k) in r11 track by $index">
        <div class="cell col20"
             ng-repeat="idd in p1 track by $index"
        >
            <div class="number col20">
                <span class="s-ball">{{balls[idd.id]['balls'][i].name}}</span>
            </div>
            <div class="odds col20">
                <span class="red">{{balls[idd.id]['balls'][i].rate}}</span>
            </div>
            <div class="money col60"
                 ng-if="balls[idd.id]['balls'][i]">
                <input
                        type="text"
                        class="cell-input"
                        name="{{balls[idd.id]['balls'][i].name}}"
                        rate="{{balls[idd.id]['balls'][i].rate}}"
                        code="{{balls[idd.id]['balls'][i].code}}"
                        keyCode="{{idd.id}}-{{k}}"
                        rebate="{{balls[idd.id]['balls'][i].rebate}}"
                        pid="{{balls[idd.id]['balls'][i].id}}"
                        tid="{{idd.id}}"
                        maxlength="9"
                        ng-init="initChange()"
                >
            </div>
        </div>
    </div>
</div>
<div class="lhc-bet-result">
    <div class="desc">
        <div class="dotted"></div>
        <div class="info-check">
            您已经选中了
            <span class="warn-color">{{betNum}}</span>
            注， 共
            <span class="warn-color">{{betCount}}</span>
            元
        </div>
        <div class="dotted"></div>
    </div>
    <div class="btn-group">
        <button
                class="cancel-btn"
                ng-click="reset()"
        >取消</button>
        <button
                class="confirm confirm-btn"
                ng-click="betSubmit()"
        >确认</button>
    </div>
</div>
