@charset "utf-8";
.user_main .user_body .input-css.username {
  width: 200px;
  height: 29px;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding-left: 10px;
}
.user_main .user_body .button-background.button-search {
  width: 100px;
  height: 30px;
  padding: 0px;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  background: #E94335;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: none;
}
.user_main .user_body .button-background.button-time {
  width: 60px;
  height: 30px;
  padding: 0px;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  background: #E94335;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: none;
}
.user_main .user_body .item-input.item-input-reset {
  padding: 15px;
}
.user_main .user_body .item-input.item-input-reset ul li {
  font-size: 14px;
  padding-bottom: 10px;
}
