.codeNav {
  margin: 20px auto;
  width: 800px;
  overflow: hidden;
  *zoom: 1;
  height: 30px;
}
.codeNav .codeLeft {
  float: left;
  width: 150px;
}
.codeNav .codeLeft select {
  padding: 0px 10px;
  height: 25px;
  text-align: center;
}
.codeNav .codeRight {
  float: left;
}
.codeNav .codeRight a {
  border: 1px solid #ea721a;
  border-radius: 5px;
  color: #ea721a;
  display: inline-block;
  margin-right: 7px;
  padding: 0 10px;
  transition: all 0.2s linear 0s;
  text-decoration: none;
}
.codeNav .codeRight a:hover {
  background-color: #ea721a;
  color: #fff;
}
.backoundTd {
  background-color: #ffffee;
}
#bodyDiv {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 20px;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100% ;
  margin: 0 auto;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #333;
  background-color: #fff;
}
.trend2 {
  min-height: 710px;
  padding: 5px 1px 20px 0px;
}
.trend audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] .trend a {
  background-color: transparent;
}
.trend abbr[title] {
  border-bottom: 1px dotted;
}
.trend sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
.trend figure {
  margin: 1em 40px;
}
.trend button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
.trend button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.trend button[disabled],
html input[disabled] {
  cursor: default;
}
.trend input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0 10px;
}
.trend nput[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
.trend input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.trend input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.trend textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.trend *:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.trend a {
  color: #337ab7;
  text-decoration: none;
}
.trend a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
#transform {
  -moz-animation: transform 30s linear 0s none infinite;
}
#transform {
  animation: transform 30s linear 0s none infinite;
}
@-webkit-keyframes transform {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes transform {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@keyframes transform {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.menu-left div > i {
  margin: 0 25px 0 20px;
  color: #4a5268;
}
.menu-left a:hover {
  font-size: 14px;
  background: #161a23;
}
.menu-left a:hover i {
  opacity: 1;
}
.trend2 a:hover {
  color: #fff;
  background: #ea721a;
}
.trend:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 310px;
  top: -15px;
  border-width: 0 15px 15px 15px;
  border-style: solid;
  border-color: #f5f5f5 transparent;
  z-index: 52;
}
.trend2:after {
  left: 490px;
}
@keyframes page-title {
  0% {
    opacity: 0;
    top: 1px;
  }
  100% {
    opacity: 1;
    top: -85px;
  }
}
@-moz-keyframes page-title {
  0% {
    opacity: 0;
    top: 1px;
  }
  100% {
    opacity: 1;
    top: -85px;
  }
}
@-webkit-keyframes page-title {
  0% {
    opacity: 0;
    top: 1px;
  }
  100% {
    opacity: 1;
    top: -85px;
  }
}
@-o-keyframes page-title {
  0% {
    opacity: 0;
    left: 420px;
    top: 1px;
  }
  100% {
    opacity: 1;
    left: 420px;
    top: -85px;
  }
}
.trend table {
  margin: 0 auto;
}
.trend table td {
  border: 1px solid #dddddd;
  padding: 2px;
  vertical-align: middle;
  height: 30px;
}
.trend td.codetd,
.page-info td.charball,
.page-info td.wdh,
.page-info td.td0,
UNUSED.page-info td.td1 {
  padding: 0px;
  margin: 0;
}
.trend td.td0 {
  background: #ffe;
}
.trend td.td1 {
  background: #eff;
}
.jiangqi {
  width: 120px;
}
.codetd {
  width: 30px;
}
.trend table {
  margin-bottom: 10px;
  margin-top: 10px;
}
.child_menu .content a:hover {
  color: #fff;
  background: #ea721a;
}
.page_bar span.tab-back:hover {
  background: #ea721a;
  color: #fff;
}
.page_list {
  position: relative;
}
.historycode,
.ball01 {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 20px;
  border: 1px #dd5e00 solid;
  box-shadow: 1px 1px 2px #6a2e01;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background: #dd5e00;
  font-weight: 800;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  -ms-transition: all .2s linear;
  transition: all .2s linear;
}
.ball01 {
  border: 1px #11B35E solid;
  color: #fff;
  background: #11B35E;
}
.ballred {
  border: 1px #ff7575 solid;
  color: #fff;
  background: #ff7575;
}
.ballblue {
  border: 1px #7D7DFF solid;
  color: #fff;
  background: #7D7DFF;
}
.issue,
.th,
.tb {
  text-align: center;
}
.historycode,
.ball01,
.ball02 {
  text-align: center;
  margin: 0;
}
.ball13 {
  color: #cecece;
}
.ball01_yellow {
  border: 1px #EA721A solid;
  color: #fff;
  background: #EA721A!important;
}
.trend .chartsTable {
  overflow: auto;
  position: relative;
}
.trend .chartsTable table {
  width: 95%;
}
.trend .pager li a:hover {
  color: #EA721A;
}
.trend .keyboard ul li div:hover {
  background: #FFF;
}
.trend .numkeyboard ul li div:hover {
  background: #FFF;
}
.trend .info-table table td:nth-child(3) {
  width: 50%;
}
@media screen and (max-width: 1054px) {
  body > #rightcon {
    width: 1054px;
  }
}
.showdetail {
  display: block !important;
}
.help_right_width {
  width: 99% !important;
  margin: 0 auto !important;
}
.help_index_rows_a {
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
.mainLhc {
  margin: 15px auto;
  font-size: 14px;
  width: 1300px;
}
.trendLhc {
  text-align: center;
}
.trendLhc table {
  width: 100%;
}
.trendLhc .blue {
  color: #2836f4;
}
.trendLhc .red {
  color: red;
}
.trendLhc .green {
  color: #22bd1e;
}
.trendLhc th {
  text-align: center !important;
  border: 1px solid #dddddd;
}
.trendLhc td {
  border: 1px solid #dddddd;
}
.trendLhc .shengxiao {
  display: flex;
  justify-content: center;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 45px;
  padding: 10px 0px;
}
.trendLhc .shengxiao .number_ball {
  border-radius: 50%;
  background-color: #ff7f00;
  width: 25px;
  height: 25px;
}
.trendLhc .shengxiao .number_ball span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  color: #fff;
  font-weight: 400;
}
