@charset "utf-8";
.help {
  width: inherit;
}
.help .help_main {
  margin-top: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  width: inherit;
}
.help .help_main .help_sub_left {
  width: 131px;
  overflow: initial;
  border: 1px solid #FFE3C7;
  background: #FEF7F4;
}
.help .help_main .help_sub_left .sub_item {
  width: inherit;
  font-size: 14px;
}
.help .help_main .help_sub_left .sub_item .nav_title {
  width: inherit;
  line-height: 37px;
  text-align: center;
  position: relative;
}
.help .help_main .help_sub_left .sub_item .nav_title em {
  line-height: 1px;
}
.help .help_main .help_sub_left .sub_item .nav_title em.sj {
  display: none;
}
.help .help_main .help_sub_left .sub_item .nav_title i {
  position: absolute;
  left: 10px;
  top: 12px;
  width: 16px;
  height: 16px;
  z-index: 9;
  font-size: 17px;
  line-height: 17px;
  color: #d91d36;
}
.help .help_main .help_sub_left .sub_item .nav_title i.icon-sub {
  display: none;
}
.help .help_main .help_sub_left .sub_item .nav_title i.icon-tianjiaguize {
  display: block;
}
.help .help_main .help_sub_left .sub_item .nav_list_main {
  display: none;
}
.help .help_main .help_sub_left .sub_item.hover .nav_title,
.help .help_main .help_sub_left .sub_item:hover .nav_title {
  background: #d91d36;
  text-align: center;
  color: #fff;
  width: 132px;
  position: relative;
  height: 37px;
  line-height: 37px;
}
.help .help_main .help_sub_left .sub_item.hover .nav_title em.sj,
.help .help_main .help_sub_left .sub_item:hover .nav_title em.sj {
  display: block;
  position: absolute;
  background: url(../../assets/img/help_sj.png);
  top: 0px;
  right: -11px;
  width: 11px;
  height: 37px;
  background-size: 12px 38px;
  background-repeat: no-repeat;
}
.help .help_main .help_sub_left .sub_item.hover .nav_title i,
.help .help_main .help_sub_left .sub_item:hover .nav_title i {
  color: #fff;
  top: 11px;
}
.help .help_main .help_sub_left .sub_item.hover .nav_title i.icon-tianjiaguize,
.help .help_main .help_sub_left .sub_item:hover .nav_title i.icon-tianjiaguize {
  display: none;
}
.help .help_main .help_sub_left .sub_item.hover .nav_title i.icon-sub,
.help .help_main .help_sub_left .sub_item:hover .nav_title i.icon-sub {
  display: block;
}
.help .help_main .help_sub_left .sub_item.hover .nav_list_main,
.help .help_main .help_sub_left .sub_item:hover .nav_list_main {
  display: block;
  width: initial;
  text-align: center;
}
.help .help_main .help_sub_left .sub_item.hover .nav_list_main li,
.help .help_main .help_sub_left .sub_item:hover .nav_list_main li {
  width: inherit;
  line-height: 30px;
}
.help .help_main .help_sub_left .sub_item.hover .nav_list_main li a,
.help .help_main .help_sub_left .sub_item:hover .nav_list_main li a {
  width: inherit;
  color: #333333;
}
.help .help_main .help_sub_left .sub_item.hover .nav_list_main li a:hover,
.help .help_main .help_sub_left .sub_item:hover .nav_list_main li a:hover {
  color: red;
}
.help .help_main .help_right {
  width: 853px;
  border: 1px solid rgba(255, 127, 0, 0.5);
  background: #FFFDFA;
}
.help .help_main .help_right .xs {
  width: initial;
  overflow: hidden;
}
.help .help_main .help_right .xs .header {
  width: initial;
  padding: 40px;
  overflow: hidden;
  padding-bottom: 6px;
}
.help .help_main .help_right .xs .header .round {
  width: initial;
  margin-bottom: 15px;
}
.help .help_main .help_right .xs .header .round ul {
  width: initial;
  overflow: hidden;
}
.help .help_main .help_right .xs .header .round ul li {
  float: left;
  width: 113px;
  height: 100px;
  background: url(../../assets/img/yuan.png);
  background-repeat: no-repeat;
  background-size: 113px 100px;
  display: inline-block;
  font-size: 18px;
  position: relative;
  margin-left: 20px;
  margin-right: 21px;
}
.help .help_main .help_right .xs .header .round ul li i {
  display: inline-block;
  z-index: 9;
  position: absolute;
  top: 19px;
  left: 33px;
  width: 37px;
  height: 37px;
  font-size: 29px;
  text-align: center;
  color: #d91d36;
}
.help .help_main .help_right .xs .header .round ul li a {
  color: #333;
  position: absolute;
  left: 34px;
  top: 58px;
}
.help .help_main .help_right .xs .header .round ul li a:hover {
  text-decoration: none;
}
.help .help_main .help_right .xs .header .round ul li.round_2 {
  float: left;
  width: 113px;
  height: 100px;
  background: url(../../assets/img/yuan_1.png);
  background-repeat: no-repeat;
  background-size: 100px 100px;
  display: inline-block;
  font-size: 18px;
  position: relative;
}
.help .help_main .help_right .xs .blue_sub {
  width: inherit;
}
.help .help_main .help_right .xs .blue_sub ul {
  width: inherit;
}
.help .help_main .help_right .xs .blue_sub ul li {
  float: left;
  padding-left: 25px;
  background: url(../../assets/img/wenhao.png);
  display: inline-block;
  background-size: 25px 25px;
  line-height: 38px;
  background-repeat: no-repeat;
  margin-left: 26px;
  margin-right: 25px;
}
.help .help_main .help_right .xs .blue_sub ul li a {
  width: inherit;
  color: #024ECB;
  text-decoration: underline;
  font-size: 18px;
  padding-left: 5px;
}
.help .help_main .help_right .xs .blue_sub ul li a:hover {
  width: inherit;
}
.help .help_main .help_right .xs .blue_sub ul li:hover {
  width: inherit;
}
.help .help_main .help_right .xs .list_box_main {
  width: initial;
  overflow: hidden;
  background: url(../../assets/img/xs.png) right bottom;
  background-repeat: no-repeat;
  background-size: 214px 202px;
  margin-bottom: 20px;
}
.help .help_main .help_right .xs .list_box_main .list_box {
  width: 252px;
  float: left;
  margin-left: 22px;
  overflow: hidden;
  height: 179px;
  border: 1px solid #82CD6C;
  margin-top: 19px;
  margin-bottom: 6px;
}
.help .help_main .help_right .xs .list_box_main .list_box h2 {
  display: inline-block;
  background: #80C36C;
  color: #fff;
  width: 100%;
  line-height: 36px;
  font-size: 14px;
  font-weight: 100;
  padding-left: 10px;
}
.help .help_main .help_right .xs .list_box_main .list_box ul {
  width: initial;
  padding-top: 10px;
  padding-bottom: 10px;
}
.help .help_main .help_right .xs .list_box_main .list_box ul li {
  width: inherit;
}
.help .help_main .help_right .xs .list_box_main .list_box ul li em {
  display: inline-block;
  line-height: 18px;
  text-align: center;
  padding-left: 10px;
}
.help .help_main .help_right .xs .list_box_main .list_box ul li a {
  font-size: 14px;
  line-height: 30px;
  color: #333;
}
.help .help_main .help_right .xs .list_box_main .list_box ul li a:hover {
  text-decoration: none;
}
.help .help_main .help_right .zh {
  width: inherit;
}
.help .help_main .help_right .zh .item {
  width: inherit;
}
.help .help_main .help_right .zh .item .item_title {
  width: inherit;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding-left: 30px;
  border-bottom: 1px dashed #d91d36;
}
.help .help_main .help_right .zh .item .item_content {
  font-size: 12px;
  padding-left: 30px;
  line-height: 33px;
  border-bottom: 1px dashed #d91d36;
  background: #fff;
}
.help .help_main .help_right .zh .item .item_content p {
  width: inherit;
}
