<div class="zoushi_header_nav" ng-controller="ZsNavCtrl">
	<!--彩种分类-->
	<div class="lotteryNav">
		<ul class="clearfix">
			<li class="liHead liDiv"
				ng-class="{active: currTab == 0}"
				ng-click="changeTab('all', 0)">
				<div class="headTitle">全部</div>
			</li>
			<li class="liDiv"
				style="width:112.5px;"
				ng-class="{active: currTab == ($index + 1)}"
				ng-repeat="type in types"
				ng-click="changeTab(type.tmp, $index+1)">
				<div class="navTitle">
					<i>
						<img ng-src="{{type.img}}" alt="{{type.name}}">
					</i>
					<span>
						<a href="javascript:;">{{type.name}}</a>
					</span>
				</div>
			</li>
		</ul>
	</div>

	<div class="hideNav" style="display: block;">
		<ul class="clearfix">
			<li ng-repeat="lottery in lotterys">
				<a ng-href="/{{nextPath}}/{{lottery.tmp}}/{{lottery.gid}}">
					<span ng-class="{active: lottery.gid == gid}" currGid="{{currGid}}">{{lottery.name}}</span>
				</a>
				<em ng-if="$index != (lotterys.length - 1)">|</em>
			</li>
		</ul>
	</div>
</div>