<div ng-include="TPL_ROOT + 'tool/tool.tpl.html'"></div>
<div ng-include="TPL_ROOT + 'head/head.tpl.html'"></div>
<div ng-include="TPL_ROOT + 'nav/nav.tpl.html'"></div>
<div class="main wanfaguize">
    <div class="sub_nav">
        <a href="/">首页</a>
        <em>&gt;</em><a href="/rule_detail/lhc/0">玩法规则</a>
    </div>
    <div class="wanfa_main">
        <div class="left wanfa_sub_left">
            <div class="sub_header">
                <i class="iconfont icon-piao"></i>所有彩票
            </div>
            <div class="sub_item" ng-repeat="x in allLottery" ng-class="{'hover': x.id == id}" ng-click="getGame(x.id, x.tmp)">
                <!--<a href="/rule_detail/{{x.cptype}}/{{x.id}}" class="nav_title">{{x.name}}<em class="sj"></em></a>-->
                <span class="nav_title">{{x.label}}<em class="sj"></em></span>
            </div>
        </div>
        <div class="right wanfaguize_right">
            <div class="wanfa_header">
                <b style="font-size: large">{{name}}</b>
            </div>
            <div class="wanfa_content">
                <b><p id="2">兑奖</p></b>
                1. 返奖：无论大小奖均返还至用户在本站的账户中，一旦用户中奖，系统将自动返还中奖金额。可继续投注或提款，永无弃奖。&nbsp;
                <br>
                <br>
                <b><p id="3">玩法说明</p></b>
                1. {{introduction}}
                <br><br>
                <b><p id="5">投注方式</p></b>
                <div ng-repeat="(k, vv) in contents">
                    <p>{{k}}</p>
                    <p ng-repeat="v in vv">{{v}}</p>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="TPL_ROOT + 'footer/footer.tpl.html'"></div>