@charset "utf-8";
.wanfaguize {
  overflow: hidden;
  margin-bottom: 20px;
}
.wanfaguize .wanfa_main {
  margin-top: 10px;
}
.wanfaguize .wanfa_main .wanfa_sub_left {
  width: 131px;
  overflow: initial;
  border: 1px solid #FFE3C7;
  background: #FEF7F4;
  border-radius: 5px 5px 0px 0px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_header {
  width: inherit;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #FF6300;
  background: #FFE3C7;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_header i {
  display: inline-block;
  font-size: 17px;
  vertical-align: middle;
  margin-right: 5px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item {
  width: inherit;
  font-size: 14px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_title {
  width: inherit;
  line-height: 37px;
  text-align: center;
  position: relative;
  color: #333333;
  display: block;
  text-decoration: none;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_title em {
  line-height: 1px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_title em.sj {
  display: none;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_title i {
  position: absolute;
  left: 10px;
  top: 7px;
  width: 16px;
  height: 16px;
  z-index: 9;
  font-size: 17px;
  line-height: 17px;
  color: #d91d36;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_title i.icon-sub {
  display: none;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_title i.icon-tianjiaguize {
  display: block;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item .nav_list_main {
  display: none;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_title,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_title {
  background: #d91d36;
  text-align: center;
  color: #fff;
  width: 132px;
  position: relative;
  height: 37px;
  line-height: 37px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_title em.sj,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_title em.sj {
  display: block;
  position: absolute;
  background: url(../../assets/img/help_sj.png);
  top: 0px;
  right: -11px;
  width: 11px;
  height: 37px;
  background-size: 12px 38px;
  background-repeat: no-repeat;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_title i,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_title i {
  color: #fff;
  top: 11px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_title i.icon-tianjiaguize,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_title i.icon-tianjiaguize {
  display: none;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_title i.icon-sub,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_title i.icon-sub {
  display: block;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_list_main,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_list_main {
  display: block;
  width: initial;
  text-align: center;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_list_main li,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_list_main li {
  width: inherit;
  line-height: 30px;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_list_main li a,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_list_main li a {
  width: inherit;
  color: #333333;
}
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item.hover .nav_list_main li a:hover,
.wanfaguize .wanfa_main .wanfa_sub_left .sub_item:hover .nav_list_main li a:hover {
  color: red;
}
.wanfaguize .wanfa_main .wanfaguize_right {
  border: 1px solid #d91d36;
  background: #FFFDFA;
  width: 853px;
}
.wanfaguize .wanfa_main .wanfaguize_right .wanfa_header {
  line-height: 10px;
  padding: 16px 16px 0px 16px;
  overflow: hidden;
  height: 60px;
}
.wanfaguize .wanfa_main .wanfaguize_right .wanfa_content {
  font-size: 14px;
  line-height: 26px;
  padding: 20px;
}
.wanfaguize .wanfa_main .wanfaguize_right .wanfa_content p {
  line-height: inherit;
}
.wanfaguize .wanfa_main .wanfaguize_right .wanfa_content img {
  display: inline-block;
  border: 0;
}
table {
  border-collapse: collapse;
  overflow: hidden;
}
tr {
  white-space: 0;
}
td {
  height: 30px;
  border: #999999 solid 1px;
}
.agreement {
  line-height: 27px;
  color: #666666;
  size: 14px;
  padding: 10px;
}
.submit {
  background: #d32036 none repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  height: 47px;
  line-height: 47px;
  outline: medium none;
  text-align: center;
  width: 196px;
}
.imgLogo {
  width: 60px;
  height: 60px;
}
