<div class="zs_box zs_right" ng-controller="AdvCtrl">
	<div class="float_main">
		<div class="title1">
			<a target="_blank" href="{{ONLINE_SERVICE}}">在线客服</a>
		</div>
		<!--<div class="title2">
			<a href="tencent://message/?uin=111111&amp;Site=web&amp;Menu=yes">
				QQ客服<br>
				<span class="qq-num">{{QQ}}</span>
			</a>
		</div>
		<div class="title3">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;免费热线电话<br><span>{{TEL}}</span>
		</div>-->
		<div class="title2">
			<a ng-href="help/2/0/0">帮助中心</a>
		</div>
		<div class="title4">
			<img src="{{ANDROID_QRCODE}}" alt=""> </div>
		<div class="title5">下载Android版</div>
		<div class="trapezoid">

		</div>
		<div class="title6">
			<a class="side-close-btn" ng-click="close()" href="javascript:;">关闭</a>
		</div>
	</div>
</div>
<div class="zs_box zs_left" ng-controller="AdvCtrl">
	<div class="float_main">
		<div class="title1">
			<a target="_blank" href="{{ONLINE_SERVICE}}">在线客服</a>
		</div>
		<div class="title2">
			<a ng-href="help/2/0/0">帮助中心</a>
		</div>
		<div class="title4">
			<img src="{{IOS_QRCODE}}" alt=""> </div>
		<div class="title5">下载IOS版</div>
		<div class="trapezoid">

		</div>
		<div class="title6">
			<a class="side-close-btn" ng-click="close()" href="javascript:;">关闭</a>
		</div>
	</div>
</div>