<div class="header">
	<div class="main main_btm_border">
		<div class="left logo">
			<a ng-href="/" class="logo-link" id="">
				<img ng-src="{{LOGO}}" width="227px" height="68px" alt="">
			</a>
		</div>
		<div class="right login_and_userinfo_1">
			<!-- no login -->
			<!-- logined logined -->
			<div class="login_header">
				<span class="welcome"></span>
				<!--<div class="mobile_download" style="cursor:pointer;">-->
					<!--<i class="iconfont">&#xe65a;</i>-->
					<!--<i class="iconfont">&#xe601;</i>-->
					<!--<span class="">手机app下载</span>-->
				<!--</div>-->
			</div>
			<!-- logined end -->
		</div>
	</div>
</div>