@charset "utf-8";
/****
   Author: QQ
   Email: Office.
   作用  : 会员中心CSS
****/
/*注册页面*/
/**注册成功**/
/***会员中心***/
/**end**/
.user_noteice .accordion {
  padding: 0 10px 10px 10px;
}
.user_noteice .time {
  float: right;
}
.user_noteice .title {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.user_noteice .content {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.user_noteice .title:last-child {
  border-bottom: none;
}
