<div class="user_header_nav">
	<ul>
		<li ng-class="{hover: path=='/member/member_top_up'}" ng-click="setNavIndex(1)"><a ng-href="/member/member_top_up">充值</a></li>
		<li ng-class="{hover: path=='/member/member_withdraw'}" ng-click="setNavIndex(2)"><a ng-href="/member/member_withdraw">提现</a></li>
		<li ng-class="{hover: path=='/member/member_top_up_record'}" ng-click="setNavIndex(3)"><a ng-href="/member/member_top_up_record">充值记录</a></li>
		<li ng-class="{hover: path=='/member/member_withdraw_record'}" ng-click="setNavIndex(4)"><a ng-href="/member/member_withdraw_record">提现记录</a></li>
	</ul>
</div>