<!-- 两面盘模板|总和模版 -->
<div class="bet-grid">
    <div class="row title title-bg-shen">
        <div class="cell col20" ng-repeat="x in p1">
            <div class="cell-title col100">{{x.name}}</div>
        </div>
    </div>
    <div class="row" ng-repeat="(i, k) in r16 track by $index">
        <div
                class="cell col20"
                ng-repeat="idd in p1 track by $index"
        >
            <div class="number col20">
                <span ng-class="{'s-ball':isBall(balls[idd.id]['balls'][i].name)}">{{balls[idd.id]['balls'][i].name}}</span>
            </div>
            <div class="odds col30">
                <span class="red">{{balls[idd.id]['balls'][i].rate}}</span>
            </div>
            <div class="money col50"
                 ng-if="balls[idd.id]['balls'][i]">
                <input
                        type="text"
                        class="cell-input"
                        name="{{balls[idd.id]['balls'][i].name}}"
                        rate="{{balls[idd.id]['balls'][i].rate}}"
                        code="{{balls[idd.id]['balls'][i].code}}"
                        keyCode="{{idd.id}}-{{k}}"
                        rebate="{{balls[idd.id]['balls'][i].rebate}}"
                        pid="{{balls[idd.id]['balls'][i].id}}"
                        tid="{{idd.id}}"
                        maxlength="9"
                        ng-init="initChange()"
                >
            </div>
        </div>
    </div>
</div>
<div ng-include="LTY_ROOT + 's_bet/bet_result1.tpl.html'"></div>
