@charset "utf-8";
.usercenter .agent_info {
  padding: 70px;
}
.usercenter .agent_info ul li {
  padding-bottom: 15px;
  font-size: 14px;
  float: left;
}
.usercenter .agent_info .agent-input {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 25rem;
  margin-top: 10px;
}
.usercenter .agent_info .agent-btn-copy {
  width: 90px;
  height: 45px;
  padding: 0;
  line-height: 30px;
  font-size: 15px;
  text-decoration: none;
  background: #E94335;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  border: none;
  margin-left: 12px;
}
.usercenter .agent_info .userinfo_extension_url {
  background: #F4F4F4;
}
.usercenter .agent-input-left {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 12rem;
  margin-right: 20px;
}
.usercenter .agent-input-right {
  padding: 15px;
  border: none;
  border-radius: 5px;
  width: 12rem;
  margin-right: 20px;
  margin-top: 10px;
}
