<div class="repair" ng-show="!lotteryStatus"></div>
<div class="lottery-main" ng-show="lotteryStatus">
    <div ng-include="LTY_ROOT + 'announcement/announcement.tpl.html'"></div>
    <div>
        <div class="play-choice animated shake" ng-include="LTY_ROOT + 'lottery/playList.tpl.html'"></div>
        <div class="bet-area">
            <div ng-include="LTY_ROOT + 'lottery/tip.tpl.html'"></div>
            <div class="bet-main">
                <div>
                    <div class="select animated bounceInRight" ng-include="LTY_ROOT + tmp"></div>
                </div>
                <div class="bet-tools">
                    <div class="opt">
                        <span>共<span class="bet-num">{{suData.sumbet}}</span>注， 单注金额：</span>
                        <input type="text" class="amount" ng-model="suData.txtmoney">
                        <div class="unit" ng-class="{'unit_activity':moneytype=='y'}" ng-click="unit('y')">元</div>
                        <div class="unit" ng-class="{'unit_activity':moneytype=='j'}" ng-click="unit('j')">角</div>
                        <div class="unit" ng-class="{'unit_activity':moneytype=='f'}" ng-click="unit('f')">分</div>
                        <span>共<span class="total">{{suData.sumbet*suData.txtmoney/suData.mtype}}</span>元</span>
                        <div class="bonus-adjustment">
                            <div class="bonus-rebate">
                                <div class="bonus">
                                    <span ng-repeat="v in orate track by $index" ng-show="playInfo.sname != 'hz'">{{v}}{{orate.length>1?'|':''}}</span>
                                </div>
                                <div class="rebate">{{rate.volume}}%</div>
                            </div>
                            <div class="control">
                                <div class="control-label">赔率</div>
                                <div class="slider">
                                    <input class="range" type="range" name="volume" min="0" max="{{rate.rebate}}" step="0.1" ng-model="rate.volume">
                                </div>
                                <div class="control-label">返利</div>
                            </div>
                        </div>
                    </div>
                    <div class="operation-group">
                        <button class="add" ng-click="addBet()">添加注单</button>
                    </div>
                </div>
            </div>
            <div ng-include="LTY_ROOT + 'cart/cart.tpl.html'"></div>
        </div>
    </div>
</div>