@charset "utf-8";
.shouji {
  overflow: hidden;
  background: #42b3fd;
}
.shouji .shouji_main {
  overflow: hidden;
  background: url(../../assets/img/shouji_bg.png);
  background-size: 1282px 668px;
  background-repeat: no-repeat;
  height: 578px;
  position: relative;
}
.shouji .shouji_main .down_app {
  overflow: hidden;
  position: absolute;
  right: 62px;
  top: 250px;
}
.shouji .shouji_main .down_app a {
  overflow: hidden;
  display: inline-block;
  width: 280px;
  height: 60px;
  text-align: center;
  margin-left: 20px;
}
.shouji .shouji_main .down_app a img {
  width: 280px;
  height: 60px;
}
.shouji .shouji_main .qr1 {
  overflow: hidden;
  position: absolute;
  right: 400px;
  top: 330px;
}
.shouji .shouji_main .qr1 img {
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.shouji .shouji_main .qr2 {
  overflow: hidden;
  position: absolute;
  right: 100px;
  top: 330px;
}
.shouji .shouji_main .qr2 img {
  overflow: hidden;
  width: 200px;
  height: 200px;
}
.anquan {
  height: 70px;
  background: #d91d36;
  padding-top: 19px;
}
.anquan .anquan_main {
  margin: 0 auto;
  background: url(../../assets/img/shouji_b.png) center center;
  background-size: 1000px 56px;
  background-repeat: no-repeat;
  height: 56px;
  width: 1000px;
  position: relative;
}
.anquan .anquan_main em {
  overflow: hidden;
}
.anquan .anquan_main em.qianbi {
  overflow: hidden;
  display: block;
  background: url(../../assets/img/qianbi_b.png);
  height: 61px;
  width: 77px;
  top: -42px;
  position: absolute;
  left: -60px;
  background-size: 77px 61px;
  background-repeat: no-repeat;
}
