<div ng-include="TPL_ROOT + 'tool/tool.tpl.html'"></div>
<div ng-include="TPL_ROOT + 'head/head.tpl.html'"></div>
<div ng-include="TPL_ROOT + 'nav/nav.tpl.html'"></div>
<div class="shouji">
    <div class="main shouji_main" style=" width: 1282px!important; ">

        <div class="down_app">

            <a href="#az" class="bg_btn az">
                <img src="https://cpweb.kosunmobile.com/cpcp/Public/static/images/shouji_btn_1.png" alt="">
            </a>
            <a href="#ap" class="bg_btn ap">
                <img src="https://cpweb.kosunmobile.com/cpcp/Public/static/images/shouji_btn_2.png" alt="">
            </a>

        </div>

        <div class="qr1">
            <img src="{{IOS_QRCODE}}"
                 alt="">
        </div>

        <div class="qr2">
            <img src="{{ANDROID_QRCODE}}"
                 alt="">
        </div>

    </div>

</div>

<div class="anquan">
    <div class="anquan_main">
        <em class="qianbi"></em>
    </div>
</div>

<div ng-include="TPL_ROOT + 'footer/footer.tpl.html'"></div>
